#main-container {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 720px
}

.msg {
    background: yellowgreen;
    border: solid 2.5px #074197;
    position: relative;
}

.remove-btn {
    position: absolute;
    font-size: 100%;
    top: 0;
    color: red;
    right: 10px;
    display: block;
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    cursor: pointer;
}